alabaster==0.7.12
appdirs==1.4.4
apturl==0.5.2
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==18.2.0
awscli==1.16.81
Babel==2.6.0
backcall==0.1.0
blinker==1.4
botocore==1.12.71
Brlapi==0.6.7
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.7
command-not-found==0.3
coverage==4.5.2
cryptography==2.3
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.4
decorator==4.3.2
defer==1.0.6
distlib==0.3.1
distro==1.3.0
distro-info===0.21ubuntu2
docker==3.7.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.14
entrypoints==0.3
envparse==0.2.0
filelock==3.0.12
-e git+https://github.com/LjungPer/gridlod.git@8caf4ff27faef6f2648e60c4bce5d017e6ff9572#egg=gridlod
httplib2==0.11.3
idna==2.8
imagesize==1.1.0
importlib-metadata==1.7.0
ipykernel==5.1.0
ipyparallel==6.2.3
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.4
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
louis==3.8.0
macaroonbakery==1.2.1
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.0.2
more-itertools==5.0.0
netifaces==0.10.4
oauthlib==2.1.0
olefile==0.46
packaging==19.0
parso==0.3.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.1
prompt-toolkit==2.0.8
protobuf==3.6.1
ptyprocess==0.6.0
py==1.7.0
pyamg==4.0.0
pyasn1==0.4.2
pybind11==2.2.4
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pyevtk==1.1.1
Pygments==2.3.1
PyGObject==3.32.0
PyJWT==1.7.0
pymacaroons==0.13.0
pymor==0.5.1
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyparsing==2.3.1
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyRFC3339==1.1
pytest==4.2.0
pytest-cov==2.6.1
python-apt===1.8.5-ubuntu0.3
python-dateutil==2.8.0
python-debian==0.1.34
pytz==2018.9
pyxattr==0.6.1
pyxdg==0.25
PyYAML==3.13
pyzmq==17.1.2
Qt.py==1.1.0
reportlab==3.5.18
requests==2.21.0
requests-unixsocket==0.1.5
roman==2.0.0
rsa==4.0
s3transfer==0.1.13
scikit-sparse==0.4.4
scipy==1.2.0
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
system-service==0.3
systemd-python==234
ubuntu-advantage-tools==19.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
usb-creator==0.3.3
virtualenv==20.0.29
wadllib==1.3.3
wcwidth==0.1.7
websocket-client==0.54.0
xkit==0.0.0
youtube-dl==2019.1.17
zipp==3.1.0
