
body {
  background:rgba(255,255,240,0.8);
    font: 100 14px sans-serif;
    color: #000;
  text-shadow: 0 1px 1px rgba(255,255,255,0.1);
    text-align: center;
}
::-moz-selection {
  background: rgba(0,0,0,0.1);
}
::selection {
  background: rgba(0,0,0,0.1);
}
h1 {
  font-weight: 100;
  font-size: 2.7em;
}
h3 {
  color: #111222;
  font-weight: 100;
  font-size: 1.6em;
}

a:hover {
  cursor: pointer;
}

.para {
  color: black;
  font-weight: 100;
  font-size: 1.2em;
  margin: 0;
}

.columnThree {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.rowThree:after {
  content: "";
  display: table;
  clear: both;
}

/* Circle Avatar Styles */

.circle {
    line-height: 0;		/* remove line-height */
    display: inline-block;	/* circle wraps image */
    margin: 5px;
  border: 4px solid rgba(200,200,200,0.4);
    border-radius: 50%;	/* relative value */
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
    transition: linear 0.25s;
  height: 128px;
  width: 128px;
}
.circle img {
    border-radius: 50%;	/* relative value for
                    adjustable image size */
}
.circle:hover {
    transition: ease-out 0.2s;
  border: 4px solid rgba(0,0,0,0.2);
  -webkit-transition: ease-out 0.2s;
}
a.circle {
  color: transparent;
} /* IE fix: removes blue border */

.yearTable {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
  }

.yearColumn {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.yearRow:nth-child(even) {
  background-color: #dddddd;
}

.topTable {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }
.topColumn {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.topRow:nth-child(even) {
  background-color: #dddddd;
}

/* Update button */

.buttonTest {
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
  border-radius: 8px;
  background-color: #04AA6D;
  opacity: 0.8;
}

.buttonTest:hover {
  opacity: 1;
  color: white;
}

/* Navigation bar */

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 8px;
  font-weight: normal;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Chart stuff (?) */

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background-color: #04AA6D;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1.2em;
  font-weight: normal;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.5em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background-color: #04AA6D;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: white;
}