<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      {{ JSGlue.include() }}
    </head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

    <body>
      <div style="width: 100%; display: table;">

        <div id="navBar" class="topnav" style="width: 50%; float: left;">
        {% if 'username' in session %}
          <a id="login" href="/login">New user</a>
          <a id="stats" href="/stats">Home</a>
          <a id="years" href="/years">Year</a>
          <a id="directors" href="/directors">Director</a>
        {% endif %}
        </div>

        <div class="topnav" style="width: 30%; float: right;">
          {% if 'username' in session %}
          <a id="user" style="float: right">Current user: {{ session['username'] }}</a>
          <script>
            let link = document.getElementById('user');
            link.href = "https://letterboxd.com/" + {{ session['username']|tojson }} + "/";
          </script>
          {% endif %}
        </div>

      </div>
      
      <script src="{{ url_for('static', filename='navbar.js') }}"></script>

      
      {% block content %}{% endblock %}
    </body>
</html>