

{% extends "base.html" %}
{% block content %}

<h1>Diary</h1>
<h2>All time</h2>

    <div id="Search" style="margin-left: 50%;"> 
        <form action="{{ url_for('diary') }}" method="POST" novalidate>
        {{ year_form.hidden_tag() }}
            <table style="text-align:center;">
                <tr>
                    <td>
                        Search year
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ year_form.name }}</td>
                    <td>{{ year_form.submit }}</td>
                </tr>
            </table>
        </form>
        <script>
        $(document).ready(function() {
            $('#name').select2({  // init Select2 on form's name field
                placeholder: "{{ year_form.name.label.text }}",
                allowClear: true,
                "width": "style"
            });
        });
        </script>
    </div>

{% endblock %}
