

{% extends "base.html" %}
{% block content %}

<h1>Diary</h1>
<h2>All time</h2>

<div id="search" style="margin-left: 50%;"> 
</div>

<script>
    const load = function() {
        // loadingScreen defined in loading.html
        loadingScreen.setText("Loading diary...")
        loadingScreen.show()

        fetch("{{url_for('diary_form') }}")
        .then(response => {
            if (!response.ok) {
                loadingScreen.hide()
                throw new Error(`Couldnt update data ${response.status}`)
            }
            response.text().then(data => {
                document.getElementById('search').innerHTML = data
                loadingScreen.hide()
            })
        })
    }
    window.onload = load
</script>

{% endblock %}
