
{% extends "base.html" %}
{% block content %}

<h1>User {{ session['username'] }}'s {{ year }} in summary</h1>
<p>Logged films: {{ watch_data['total_watches'] }}</p>
<p>Rewatches: {{ watch_data['rewatches'] }}</p>
<p>Reviews: {{ watch_data['reviews'] }}</p>

<div class="three-flex-container">

    <div>
        <canvas id="weekdayChart"></canvas>
    </div>

    <div>
        <canvas id="weekChart"></canvas>
    </div>

    <div>
        <canvas id="monthChart"></canvas>
    </div>
</div>

<h3>Most watched directors in {{ year }}</h3>
<div class="top-five-flex-container">
    {% for director in top_data['directors'] %}
        <div>
            <p>{{ director[0] }}</p>
            <img height="240" width="160" src={{ director[2] }}>
            <p>{{ director[1] }} films</p>
        </div>
    {% endfor %}
</div>

<h3>Most watched actors in {{ year }}</h3>
<div class="top-five-flex-container">
    {% for actor in top_data['actors'] %}
        <div>
            <p>{{ actor[0] }}</p>
            <img height="240" width="160" src={{ actor[2] }}>
            <p>{{ actor[1] }} films</p>
        </div>
    {% endfor %}
</div>

<h3>Most watched actresses in {{ year }}</h3>
<div class="top-five-flex-container">
    {% for actress in top_data['actresses'] %}
        <div>
            <p>{{ actress[0] }}</p>
            <img height="240" width="160" src={{ actress[2] }}>
            <p>{{ actress[1] }} films</p>
        </div>
    {% endfor %}
</div>
<script>  


    const month_data = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: [
            {
                data: {{ time_data['month']|tojson }},
                fill: false,
                borderColor: 'rgb(4, 170, 109)',
                backgroundColor: 'rgba(4, 170, 109, 0.5)', 
                borderWidth: 2,
                borderRadius: Number.MAX_VALUE,
                borderSkipped: false, 
            }
        ]
    };

    const month_config = {
        type: 'bar',
        data: month_data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Watched films by month'
                }
            },

        }
    };

    const week_data = {
        labels: Array.from({length: {{ time_data['week']|length|tojson }}}, (_, i) => i + 1),
        datasets: [
            {
                data: {{ time_data['week']|tojson }},
                fill: false,
                borderColor: 'rgb(4, 170, 109)',
                backgroundColor: 'rgba(4, 170, 109, 0.5)', 
                borderWidth: 2,
                borderRadius: Number.MAX_VALUE,
                borderSkipped: false, 
            }
        ]
    };

    const week_config = {
        type: 'bar',
        data: week_data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Watched films by week'
                }
            },

        }
    };
    const weekday_data = {
        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
        datasets: [
            {
                data: {{ time_data['day']|tojson }},
                fill: false,
                borderColor: 'rgb(4, 170, 109)',
                backgroundColor: 'rgba(4, 170, 109, 0.5)', 
                borderWidth: 2,
                borderRadius: Number.MAX_VALUE,
                borderSkipped: false, 
            }
        ]
    };

    const weekday_config = {
        type: 'bar',
        data: weekday_data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Watched films by day of week'
                }
            },

        }
    };
</script>
<script>
  const weekdayChart = new Chart(
    document.getElementById('weekdayChart'),
    weekday_config
  );

  const weekChart = new Chart(
    document.getElementById('weekChart'),
    week_config
  );

  const monthChart = new Chart(
    document.getElementById('monthChart'),
    month_config
  );
</script>
{% endblock %}
