{% extends "base.html" %}
{% block content %}

<h1>Director statistics</h1>

<div style="width: 100%;">

    <div style="width: 49%; float: left;">

        <div style="float: right;">
            <a href="https://letterboxd.com/kattihatt2/" class="circle">
                <img height="128" width="128" src={{ session['avatar_url'] }}>
            </a>
        </div>

    </div>

    <div style="width: 49%; float: right; text-align: left;">
        <h3>{{ session['username'] }}</h3>
    </div>

</div>


<body>

    <div style="width: 80%; display: table; margin: 0 auto;">

        <div style="width: 50%; padding: 10px; float: left;">

            <div class="select" style="width: 28%; margin: 0 auto;">
            <select id="sorting" onchange="changeChart(this.value);">
                <option value="avg">Average</option>
                <option value="bias">Bias</option>
                <option value="nr_films">Number of films</option>
            </select>
            </div>

            <div style="padding: 3%;">
                <canvas id="directorChart"></canvas>
            </div>

        </div>

        <div style="width: 30%; padding: 1%; float: right;">

            <table id="myTable" class="topTable">
                <tr class="topRow">
                    <th id="year" class="topColumn">Director</th>
                    <th id="average" style="opacity: 0.6;" class="topColumn"><a onclick="fetchCategory('Director', 'average')"><b>Average</b></a></th>
                    <th id="biased" style="opacity: 0.6;" class="topColumn"><a onclick="fetchCategory('Director', 'biased')"><b>Biased</b></a></th>
                    <th id="films" style="opacity: 0.6;" class="topColumn"><a onclick="fetchCategory('Director', 'films')"><b>Films</b></a></th>
                </tr>
                <tbody id="testBody"></tbody>
            </table>
            <script src="{{ url_for('static', filename='fetchCategory.js') }}"></script>
            <script>fetchCategory('Director', 'biased');</script>

        </div>

    </div>

<script>  

    function directorChartConfig(dataInput, titleInput, maxInput, labelInput) {
        
        const dataConfig = {
            labels: labelInput,
            datasets: [
                {
                    data: dataInput,
                    fill: false,
                    borderColor: 'rgb(4, 170, 109)',
                    backgroundColor: 'rgba(4, 170, 109, 0.5)', 
                    borderWidth: 2,
                    borderRadius: Number.MAX_VALUE,
                    borderSkipped: false, 
                }
            ]
        };

        config = {
            type: 'bar',
            data: dataConfig,
            options: {
            responsive: true,
            indexAxis: 'y',
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: titleInput,
                    font: {
                        size: 18
                    }
                }
            },
            scales: {
                x: {
                    beginAtZero: true,
                    min: 0,
                    max: maxInput,
                    ticks: {
                        font: {
                            size: 16
                        }
                    }
                },
                y: {
                    stacked: true,
                    ticks: {
                        autoSkip: false,
                        font: {
                            size: 16
                        }
                    }
                }
            }

        }
        };
        return config;
    }

</script>

<script>
    let chart = new Chart(document.getElementById('directorChart'), directorChartConfig({{ avg[0:10]|tojson }}, 'Average rating', 10, {{ avg_labels[0:10]|tojson }}));
    function changeChart(value) {
        chart.destroy();
        if (value == 'avg') {
            data = {{ avg[0:10]|tojson }};
            title = 'Average rating';
            max = 10;
            labels = {{ avg_labels[0:10]|tojson }};
        } else if (value == 'bias') {
            data = {{ bias[0:10]|tojson }};
            title = 'Bias rating';
            max = 10;
            labels = {{ bias_labels[0:10]|tojson }};
        } else {
            data = {{ nr_films[0:10]|tojson }};
            title = 'Number of films';
            max = {{ nr_films|max|tojson }} + 1;
            labels = {{ nr_films_labels[0:10]|tojson }};
        };
        chart = new Chart(document.getElementById('directorChart'), directorChartConfig(data, title, max, labels));
    }
</script>

</body>
{% endblock %}