{% extends "base.html" %}
{% block content %}
    <h1>Stats for user {{ username }}</h1>
    <div><p>User {{ username }} has {{ num_pages }} pages of ratings.</p></div>
    <a href="https://letterboxd.com/kattihatt2/" class="circle">
	    <img height="128" width="128" src={{ avatar_url }}>
    </a>
    <div><p>A simple app where you provide your letterboxd username, and we provide you with some data.</p></div>

    <div id="buttons">
       <button class="action_btn" onclick="topDirectorButton('biased')">Top directors</button>
       <button class="action_btn" onclick="topCountryButton('biased')">Top countries</button>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
    </form>
    </div>
    <p id="loading_text"></p>
    <div id="Statistics" style="text-align:center"></div>

    <script>

        // function to create table html from json
        var createCategoryTableFromJson = function(data, title) {
            var table = document.createElement("table");
            

            const titles = [title, "Average", "Biased", "Films"];
            var tr = table.insertRow();
            for (var k = 0; k < titles.length; k++) {
                var cell = tr.insertCell();
                if (k == 0) {
                    cell.innerHTML = titles[k];
                    cell.style.fontWeight = 'bold';
                }
                else {
                    var link = document.createElement("a");
                    let arg = titles[k].toLowerCase();
                    link.setAttribute('onclick', `return top` + title + `Button("${arg}")`);
                    var linkText = document.createTextNode(titles[k]);
                    link.appendChild(linkText);
                    link.style.fontWeight = 'bold';
                    cell.appendChild(link);
                }
            }
            
            for (var i = 0; i < data.length; i++) {
                var tr = table.insertRow();

                for (var j = 0; j < titles.length; j++) {
                    var cell = tr.insertCell();
                    cell.innerHTML = data[i][j]; // 0: name, 1: average rating, 2: biased rating, 3: nr films 
                }
            }

            table.className = "aClassName";
            return table;
        }

        var fetchCategory = function(title, sorting_type) {
            console.log("fetching directors data");
            $.ajax({
                type: "GET",
                url: "/categories/" + title + '/' + sorting_type}).done(function(jsonData) {
                console.log("success ");
                $("#loading_text").hide();
                var table = createCategoryTableFromJson(jsonData, title);
                var div = document.getElementById('Statistics');
                div.innerHTML = "";
                div.appendChild(table);
            }).fail(function() {
                console.log("failed")
            });
        }

        function topDirectorButton(sorting_type) {
            var p = document.getElementById("loading_text");
            p.textContent = "Loading";
            fetchCategory('Director', sorting_type);
        }
        function topCountryButton(sorting_type) {
            var p = document.getElementById("loading_text");
            p.textContent = "Loading";
            fetchCategory('Country', sorting_type);
        }

    </script>

{% endblock %}