{% extends "base.html" %}
{% block content %}
<h1>Stats for year {{ year }}</h1>
<body>

    <p>User {{ session['username'] }} has logged {{ nr_films }} films in {{ year }} with an average rating of {{ avg_rating }}.</p>

    <div style="width: 100%; overflow: hidden; display: table;">

        <div id="Statistics" style="width: 30%; float: left; text-align:center; padding-right: 50px;">
            <h2>Top films of the year</h2>
            <table class="yearTable">
                <tr class="yearRow">
                    <th class="yearColumn"></th>
                    <th class="yearColumn">Title</th>
                    <th class="yearColumn">Rating</th>
                </tr>
                {% for i in films %}
                <tr class="yearRow">
                    <td class="yearColumn">
                        <a href={{ i.3 }}>
                            <img height="67" width="45" src={{ i.3 }}>
                        </a>
                    </td>
                    <td class="yearColumn">
                        {{ loop.index }}. {{ i.0 }}
                    </td>
                    <td class="yearColumn">{{ i.2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div style="width: 60%; overflow: hidden; display: table;">

            <div style="width: 50%; float: left; padding-top: 40px;">
                <canvas id="myChart"></canvas>
            </div>

            <div id="Search" style="margin-left: 50%;"> 
                <form action="{{ url_for('years') }}" method="POST" novalidate>
                {{ year_form.hidden_tag() }}
                    <table style="text-align:center;">
                        <tr>
                            <td>
                                Search year
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ year_form.name }}</td>
                            <td>{{ year_form.submit }}</td>
                        </tr>
                    </table>
                </form>
                <script>
                $(document).ready(function() {
                    $('#name').select2({  // init Select2 on form's name field
                        placeholder: "{{ year_form.name.label.text }}",
                        allowClear: true,
                        "width": "style"
                    });
                });
                </script>
            </div>

        </div>

    </div>

<script>  

    const data = {
        labels: {{ label|tojson }},
        datasets: [
            {
                data: {{ data|tojson }},
                fill: false,
                borderColor: 'rgb(4, 170, 109)',
                backgroundColor: 'rgba(4, 170, 109, 0.5)', 
                borderWidth: 2,
                borderRadius: Number.MAX_VALUE,
                borderSkipped: false, 
            }
        ]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Rating distribution'
                }
            },

        }
    };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</body>



{% endblock %}