{% extends "base.html" %}
{% block content %}

<h1>Year statistics</h1>

<div style="width: 100%;">

    <div style="width: 49%; float: left;">

        <div style="float: right;">
            <a href="https://letterboxd.com/kattihatt2/" class="circle">
                <img height="128" width="128" src={{ session['avatar_url'] }}>
            </a>
        </div>

    </div>

    <div style="width: 49%; float: right; text-align: left;">
        <h3>{{ session['username'] }}</h3>

        <div style="text-align: left; margin-top: 40px;">
            <p class="para"><b>Most films:</b> {{ most_films|tojson }} with {{ nr_films|max|tojson }} films.</p>
            <p class="para"><b>Best average:</b> {{ avg_year|tojson }} with {{ avg|max|tojson }}.</p>
        </div>

    </div>

</div>


<body>

    <div style="width: 80%; display: table; margin: 0 auto;">

        <div style="width: 50%; padding: 10px; float: left;">

            <div class="select" style="width: 28%; margin: 0 auto;">
            <select id="sorting" onchange="changeChart(this.value);">
                <option value="avg">Average</option>
                <option value="bias">Bias</option>
                <option value="nr_films">Number of films</option>
            </select>
            </div>

            <div style="padding: 3%;">
                <canvas id="yearChart"></canvas>
            </div>

        </div>

        <div style="width: 30%; padding: 1%; float: right;">

            <form action="{{ url_for('years') }}" method="POST" novalidate>
            {{ year_form.hidden_tag() }}
                <table style="text-align:center; margin: 0 auto;">
                    <tr>
                        <td>
                            Search year
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ year_form.name }}</td>
                        <td>{{ year_form.submit }}</td>
                    </tr>
                </table>
            </form>

            <script>
            $(document).ready(function() {
                $('#name').select2({
                    placeholder: "{{ year_form.name.label.text }}",
                    allowClear: true,
                    "width": "style"
                });
            });
            </script>

            <table id="myTable" class="topTable">
                <tr class="topRow">
                    <th id="year" class="topColumn">Year</th>
                    <th id="average" style="opacity: 0.6;" class="topColumn"><a onclick="fetchCategory('Year', 'average')"><b>Average</b></a></th>
                    <th id="biased" style="opacity: 0.6;" class="topColumn"><a onclick="fetchCategory('Year', 'biased')"><b>Biased</b></a></th>
                    <th id="films" style="opacity: 0.6;" class="topColumn"><a onclick="fetchCategory('Year', 'films')"><b>Films</b></a></th>
                </tr>
                <tbody id="testBody"></tbody>
            </table>
            <script src="{{ url_for('static', filename='fetchCategory.js') }}"></script>
            <script>fetchCategory('Year', 'biased');</script>

        </div>

    </div>

    
<script>  

    function yearChartConfig(dataInput, titleInput, maxInput) {
        
        const dataConfig = {
            labels: {{ years|tojson }},
            datasets: [
                {
                    data: dataInput,
                    fill: false,
                    borderColor: 'rgb(4, 170, 109)',
                    backgroundColor: 'rgba(4, 170, 109, 0.5)', 
                    borderWidth: 2,
                    borderRadius: Number.MAX_VALUE,
                    borderSkipped: false, 
                }
            ]
        };

        config = {
            type: 'bar',
            data: dataConfig,
            options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: titleInput,
                    font: {
                        size: 18
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    min: 0,
                    max: maxInput,
                    ticks: {
                        font: {
                            size: 16
                        }
                    }
                },
                x: {
                    ticks: {
                        font: {
                            size: 16
                        }
                    }
                }
            }

        }
        };
        return config;
    }

</script>

<script>
    let chart = new Chart(document.getElementById('yearChart'), yearChartConfig({{ avg|tojson }}, 'Average rating', 10));
    function changeChart(value) {
        chart.destroy();
        if (value == 'avg') {
            data = {{ avg|tojson }};
            title = 'Average rating';
            max = 10;
        } else if (value == 'bias') {
            data = {{ bias|tojson }};
            title = 'Bias rating';
            max = 10;
        } else {
            data = {{ nr_films|tojson }};
            title = 'Number of films';
            max = {{ nr_films|max|tojson }} + 1;
        };
        chart = new Chart(document.getElementById('yearChart'), yearChartConfig(data, title, max));
    }
</script>



</body>
{% endblock %}